@mixin notification() {
  &.critical > box {
    border-color: $red;
  }

  &:hover button.close-button {
    @include button-hover;
    background-color: transparentize($red, 0.5);
  }

  .content {
    .title {
      margin-right: $spacing;
      color: $fg-color;
      font-size: 1.1em;
    }

    .time {
      color: transparentize($fg-color, 0.2);
    }

    .description {
      font-size: 0.9em;
      color: transparentize($fg-color, 0.2);
    }

    .icon {
      border-radius: $radii * 0.8;
      margin-right: $spacing;

      &.img {
        border: $border;
      }
    }
  }

  box.actions {
    @include spacing(0.5);
    margin-top: $spacing;

    button {
      @include button;
      border-radius: $radii * 0.8;
      font-size: 1.2em;
      padding: $padding * 0.7;
    }
  }

  button.close-button {
    @include button($flat: true);
    margin-left: $spacing / 2;
    border-radius: $radii * 0.8;
    min-width: 1.2em;
    min-height: 1.2em;

    &:hover {
      background-color: transparentize($red, 0.5);
    }

    &:active {
      background-image: linear-gradient($red, $red);
    }
  }
}

window.notifications {
  @include unset;

  .notification {
    @include notification;

    > box {
      margin: max($spacing, 8px);
      //   margin: 0;
      border: 1px solid transparent;
      background-color: $bg-color;
      color: $fg-color;
      border-radius: 8px;
      padding: $popover-padding;
    }

    .description {
      min-width: 350px;
    }
  }
}
