configuration {
  font: "CaskaydiaCove Nerd Font 12";
  modi: "combi,run,filebrowser,window";
  combi-modi: "window,drun,run,emoji:rofimoji";
  show-icons: true;
  terminal: "kitty";
  display-window: "";
  display-windowcd: "";
  display-run: "";
  display-ssh: "SSH";
  display-drun: "";
  display-combi: "";
  display-keys: "Keys";
  display-filebrowser: "";
	drun-display-format: "{name}";
	window-format: "{w} · {c} · {t}";
}


@import "./theme"
