// variables are defined in options.js
// these ones are derived from those
@import '/home/grantcodes/.cache/wal/colors.scss';

$bar_background: rgba(0, 0, 0, 0.6);

$_widget-bg: $bar_background;
$bg-color: $_widget-bg;
$widget-opacity: 1;
$accent-gradient: $color4, $color3;
$_border-color: $bar_background;
$border-opacity: 1;
$color-scheme: 'dark';
$fg-color: lighten($foreground, 10%);
$border-width: 1px;
$shadow: rgba(0, 0, 0, 0.6);
$padding: 8px;
$radii: 8px;
$popover-padding-multiplier: 1;
$spacing: 2px;
$wm-gaps-multiplier: 0.5;
$transition: 300ms;
$accent: $color4;
$accent-fg: $foreground;
$drop-shadow: true;
$red: $color4;
$blue: $color4;
$green: $color4;
$orange: $color4;
$magenta: $color4;
$yellow: $color4;
$battery-bar-width: 80px;
$battery-bar-height: 10px;
$applauncher-width: 400px;
$applauncher-height: 50px;
$bar-style: normal;
$screen-corners: true;
$bar-flat-buttons: true;
$notifications-width: 500px;
$sys-info-size: 20px;

$hover: transparentize($_widget-bg, 0.6);
$widget-bg: transparentize($_widget-bg, $widget-opacity / 100);
$active-gradient: linear-gradient($accent-gradient);

$hover-fg: if(
  $color-scheme == 'dark',
  lighten($fg-color, 10%),
  darken($fg-color, 8%)
);

$border-color: transparentize($_border-color, $border-opacity / 100);
$border: $border-width solid $border-color;

$text-shadow: 2px 2px 2px $shadow;

$popover-border-color: transparentize(
  $_border-color,
  max(($border-opacity - 1) / 100, 0)
);
$popover-padding: $padding * $popover-padding-multiplier;
$popover-radius: if($radii == 0, 0, $radii + $popover-padding);

$wm-gaps: floor($spacing * $wm-gaps-multiplier);

$shader-fg: $bar_background;

* {
  font-size: 15px;
  font-family: 'Rethink Sans', 'CaskaydiaCove Nerd Font', FontAwesome,
    sans-serif;
  font-weight: 600;
}
