@import url('file:///home/grantcodes/.cache/wal/colors-gtk.css');

* {
  font-family: 'CaskaydiaCove Nerd Font', FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

.notification-row {
  outline: none;
  background: transparent;
}

.notification {
  border-radius: 4px;
  margin: 6px 6px;
  box-shadow: none;
  padding: 0;
}

.notification-content {
  background: @background;
  padding: 6px;
  border-radius: 4px;
  background: @foreground_10;
  border: 1px solid @foreground_20;
}

.floating-notifications .notification-content {
  background: @background_80;
}

.notification-row .notification-content {
}

.close-button {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-shadow: none;
  padding: 0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
.close-button:hover {
  background: rgb(30, 30, 30);
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @background_20;
  border: none;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @background_40;
}

.notification-default-action {
  border-radius: 3px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.notification-action {
  border-radius: 0;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}
.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 3px;
}

.summary {
  color: @foreground;
  text-shadow: none;
}

.time {
  color: @foreground;
  text-shadow: none;
}

.body {
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.top-action-title {
  text-shadow: none;
  padding: 10px;
}

.control-center-clear-all {
  color: inherit;
  text-shadow: none;
  background: @color5;
  box-shadow: none;
  border-radius: 3px;
  border: none;
}
.control-center-clear-all:hover {
  background: @color6;
}

.control-center-dnd {
  border-radius: 8px;
  border: none;
  background: @foreground_20;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @color10;
}
.control-center-dnd slider {
  background: @color1;
  border: none;
  border-radius: 8px;
}

.control-center {
  background-color: @background;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.control-center-list {
  background: transparent;
  padding: 6px;
}

.control-center-list-placeholder {
  color: @foreground_40;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: transparent;
}
